ipaddr.txt
version.txt
*.sentry-native
euroscope_sector_providers.txt
SectorFileProviderDescriptor.txt
cords
*.ese
*.rwy
*.sct
aeronav_copyright.txt
VoiceChannels.txt
ULLL/ICAO/*
ULLL/NavData/*
.DS_Store
